<div class="dashboard-container">
  <nav class="dash-nav">
    <div class="logo-container">
      <img src="logo1.png" alt="App Logo" class="auth-logo">
    </div>
    <div class="nav-right">
      <button (click)="router.navigate(['/transactions'])" class="btn-nav-link">Transactions</button>
      <button (click)="router.navigate(['/categories'])" class="btn-nav-link">Categories</button>
      <button (click)="onLogout()" class="btn-logout">Logout</button>
    </div>
  </nav>

  <main class="dash-content">
    <div class="overview-section">
      <div class="stats-cards">
        <div class="stat-card">
          <span class="label">Total Balance</span>
          <h2 class="value">{{ financialStats.totalBalance | currency:'USD' }}</h2>
        </div>
        <div class="stat-card income">
          <span class="label">Monthly Income</span>
          <h2 class="value">+{{ financialStats.income | currency:'USD' }}</h2>
        </div>
        <div class="stat-card expense">
          <span class="label">Monthly Expenses</span>
          <h2 class="value">-{{ financialStats.expense | currency:'USD' }}</h2>
        </div>
      </div>

      <div class="chart-wrapper">
        <h4>Structure of Wealth</h4>
        <canvas #myChart></canvas>
        
        <p *ngIf="financialStats.income === 0 && financialStats.expense === 0" class="no-data">
          No data available for the chart.
        </p>
      </div>
    </div>

    <div class="budget-summary-container">
       <app-budget-card
         [budget]="globalBudgetData" 
         [allCategories]="allCategoriesList"
         [isGlobal]="true"
         (onRefresh)="fetchStatsData()">
       </app-budget-card>
    </div>
  </main>
</div>